

p{
	max-width: 70ch; /* limit the line length*/
	margin: 2%;
	line-height: 140%; /* Line spacing */
}

body{
	font-family: "Roboto", sans-serif;
	font-size: 17px;
	font-weight: 50;
	padding: 50px;
}

hgroup{
	text-align: left;
	padding-right: 20px;
	border-right: 10px;
}

a {
	background-color:;
	text-decoration: underline;
}

blockquote{
	font-family: "EB Garamond", serif;
	font-size: 40px;
	font-style: italic;
	text-align: right;
	margin-left: 40%;
	padding: 2%;
}

h1{
	font-family: "Poppins", system-ui;
	font-size: 110px;
	font-weight: 500;
	text-transform: uppercase;
}

h2{
	font-family: "Poppins", system-ui;
	color: dodgerblue;
	font-size: 50px;
}

section{
	margin-left: 25%;
	border-right: 10px;
	font-family: 'Playfair', serif;
}

article{
	margin: 5%;
	margin-left: 13%;
}

footer{
	font-family: monospace;
	font-size: 13px;
	display: flex;
	justify-content: center;
	background-color: gray;
	color: #fff;
}

aside{
	font-family: 'Playfair', serif;
	letter-spacing: 0.02em; 
	text-indent: 40px;
	column-count: 3;
	column-width: 200px;
	column-rule-width: thin;
	column-rule-style: solid;
	column-rule-color: black;
	max-width: 80ch;
	color: dimgray;
}

li{
	text-indent: 20px;
}

hr {
	border: none;
	border-bottom: 1px solid chocolate;
	overflow: visible;
	text-align: center;
	height: 75px;
	opacity: 30%;
	max-width: 100ch;
  }
.indent{
	text-indent: 35px;
}

.uppercase{
	text-transform: uppercase;
}
.loose{
	letter-spacing: 0.02em; 
}

.highlight{
	text-decoration-line: underline;
}

.blue{
	color: Blue;
}

.chocolate{
	color:chocolate;
}

#reading-quote{
	font-family: "EB Garamond", serif;
	font-size: 30px;
	text-align: left;
	max-width: 60ch
}

#reading-response{
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 50px;
	color: blue;
	margin: 2%;
	text-transform: uppercase;
}

#date{
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 50;
}

#author{
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 500;
}

#name-response{
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: light;
	line-height: 150%;
	text-align: right;
	margin-right: 10%;
}

#response,
section {
	margin-top: 4mm;
}

p:not(:first-child)

.introduction-paragraph {
	text-indent: 30px;
	font-weight: bold;
}

.italic{
	font-style: italic;
}


em{
	font-family: "EB Garamond", serif;
	font-style: italic; 
	font-size: 19px;
}

strong{
	font-weight: 500;
}

bold{
	font-weight: bold;
}

